@inject HttpClient Http
@using Dto

<h3>Todo list</h3>

@if (_todos != null)
{
    <ol class="list-group">
        @foreach (var todo in _todos)
        {
            <li class="list-group-item">
                @todo.Title
            </li>
        }
    </ol>
}

@code {
    private List<TodoDto>? _todos;
    
    protected override async Task OnInitializedAsync()
    {
        _todos = await Http.GetFromJsonAsync<List<TodoDto>>("api/todos/");
    }
}